{# Agora estende o novo layout de autenticação #}
{% extends 'autenticacao/base_auth.html.twig' %}

{% block title %}Login - GatePass{% endblock %}

{# Todo o CSS, JS e HTML repetido foi removido #}

{# Preenchemos o bloco 'auth_form' definido no layout pai #}
{% block auth_form %}
    <form method="post" action="{{ path('app_login') }}">
        <h1 class="h3 mb-3 fw-normal text-center">
            Fazer Login
        </h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-floating mb-3">
            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
            <label for="inputEmail">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Senha">
            <label for="inputPassword">Senha</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3 text-start">
            <label>
                <input type="checkbox" name="_remember_me" checked> Lembrar-me
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

        <p class="mt-3 mb-0 text-center">
            Não tem uma conta? <a href="{{ path('app_registro') }}">Registrar</a>
        </p>
    </form>
{% endblock %}