{# Agora estende o novo layout de autenticação #}
{% extends 'autenticacao/base_auth.html.twig' %}

{% block title %}Seja um Vendedor - GatePass{% endblock %}

{# Todo o CSS, JS e HTML repetido foi removido #}

{# Preenchemos o bloco 'auth_form' definido no layout pai #}
{% block auth_form %}
    {{ form_start(registrationForm, {'attr': {'novidate': 'novidate'}}) }}

    <h1 class="h3 mb-3 fw-normal text-center">Seja um Vendedor</h1>

    <div class="form-floating mb-2">
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email de Acesso'}}) }}
        {{ form_label(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="form-floating mb-2">
        {{ form_widget(registrationForm.nomeFantasia, {'attr': {'placeholder': 'Nome Fantasia da Empresa'}}) }}
        {{ form_label(registrationForm.nomeFantasia) }}
        {{ form_errors(registrationForm.nomeFantasia) }}
    </div>

    <div class="form-floating mb-2">
        {{ form_widget(registrationForm.cnpj, {'attr': {'placeholder': 'CNPJ'}}) }}
        {{ form_label(registrationForm.cnpj) }}
        {{ form_errors(registrationForm.cnpj) }}
    </div>

    <div class="form-floating mb-2">
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Senha'}}) }}
        {{ form_label(registrationForm.plainPassword.first) }}
        {{ form_errors(registrationForm.plainPassword.first) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Confirmar Senha'}}) }}
        {{ form_label(registrationForm.plainPassword.second) }}
        {{ form_errors(registrationForm.plainPassword.second) }}
    </div>

    <div class="form-check text-start mb-3">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms, 'Li e aceito os termos de uso', {'label_attr': {'class': 'small'}}) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar Vendedor</button>

    <p class="mt-3 text-center">
        Já tem uma conta? <a href="{{ path('app_login') }}">Fazer Login</a>
    </p>

    {{ form_end(registrationForm) }}
{% endblock %}